<% provide(:title, "User #{@user.name} ") %>

<div class="w-50 mx-auto">
    <h1><%= @user.name %> </h1>
    <% unless @attended_events.nil? %>
        <h2>Attending events</h2>
        <div class="row">
            <%= render @attended_events %>
        </div>
    <% end %>
</div>
