<% provide(:title, "User #{@user.name} ") %>

<div class="w-50 mx-auto">
    <h1><%= @user.name %> </h1>
    <% unless @events.nil? %>
        <h2>Posted events</h2>
        <div class="row">
            <%= render @events %>
        </div>
    <% end %>
</div>
