<div class="attend-event">
    <h4>Are you coming?</h4>
    <div id="attending-form" class="d-flex pb-4">
        <% unless @event.going?(current_user) %>
            <span>
                <%= link_to fa_icon('check', text: 'Going', class: 'text-success'), 
                        rsvps_url(@rsvp, :event_id => @event.id),
                        method: :post,
                        class: 'btn btn-outline-success' %>
            </span>
        <% else %>
            <span>
                <%= link_to fa_icon('times', text: 'Not going', class: 'text-danger'), 
                            rsvp_url(current_user.rsvps.find_by(attended_event_id: @event.id)),
                            method: :delete,
                            class: 'btn btn-outline-danger' %>
            </span>
        <% end %>
    </div>

    <% if @event.attendees.any? %>
        <h4>Guest list</h4>
        <ul class="event-attendees list-group list-group-flush">
            <%= render @event.attendees %>
        </ul>
    <% end %>
</div>