<div class="attend-event">
    <h4>Guest list</h4>
    <% if @event.attendees.any? %>
        <ul class="event-attendees list-group list-group-flush mb-2">
            <%= render @event.attendees %>
        </ul>
    <% end %>

     <div id="attending-form pt-5 mt-2">
        <%= render 'shared/attending_form' %>
    </div>
</div>