<% if object.errors.any? %>
    <ul id="errors" class="bg-danger text-white">
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>