<nav class="navbar navbar-expand-lg navbar-dark bg-danger mb-2">
    <%= link_to 'Private Events', root_url, class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
            <%= render 'layouts/account_links' %>
        <% else %>
        <li class="nav-item active">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
        </li>
        <% end %>
    </ul>
</nav>